node_modules
dist
out
.DS_Store
.eslintcache
*.log*
*.tsbuildinfo

# Python backend
python-backend/.venv/
python-backend/build/
python-backend/dist/
python-backend/__pycache__/
python-backend/**/__pycache__/
